<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Sonic Greetings Great People of the Universe.My name is Shakem and I AM building a Starship.
          The Starship Merkabro Project will create a Virtual SpaceShip that is intended to bring people from all walks of life together to create a space within space that will be a community of divine art
          ,divine science ,divine sound, divine creativity, divine healing and all the great things that are born from the combination of these things.The Starship is for cyberspace, the meta verse, the universe or any verse. If/When this becomes a physical starship the blockchain will show us it all started right here with you reading this.


Starship Merkabro is a  NFT project that aims to create a dynamic and immersive Space Ship/Virtual  environment where art, music, healing/alignment, and community converge in web3 and the blockchain. The project features a Great Expansive Digital Art Museum on the first floor of the virtual ship showcasing a diverse collection of art, digital art , music from featured artists or exhibits.The virtual space ship also features various virtual rooms and atmospheres  for meditation, mantra, and sonic healing, as well as a virtual event space for concerts, parties, and conferences. 

144 unique Art NFTs will complete the initial phase of collection associated with this project, each with its own sonic signature that will be used for access to the Star Ship and exclusive benefits. Starship Merkabro aims to create a vibrant and interactive community of creatives, artists, healers, and supporters in the web3 environment and beyond.
 /p>
      </div>
      <div class="col-lg-4">
        <p> Stay intune With this Frequency and Vibration and Prepare For Launch. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
